@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.button_1 {
    background-color: #e0e0e0;
    height: 75px;
    width: 75px;
    border-radius: 15px;
    border-width: 3px;
    font-size: 12px;
}

.button_2 {
    background-color: #6fcf97;
    height: 75px;
    width: 75px;
    border-radius: 15px;
    border-width: 3px;
    font-size: 12px;

}

.button_3 {
    background-color: #56ccf2;
    height: 75px;
    width: 75px;
    border-radius: 15px;
    border-width: 3px;
    font-size: 12px;
}

.button_4 {
    background-color: #bb6bd9;
    height: 75px;
    width: 75px;
    border-radius: 15px;
    border-width: 3px;
    font-size: 12px;
}

.background-color {
    text-align: center;
    padding: 10px;
    margin: 10px;
    height: 50px;
    background-color: black;
    color: white;
    border-radius: 7px;
    font-size: 20px;
}

.span {
    color: #49a6e9;
}